<div class="footer">
    <div class="container" style="text-align: center;">
        <a [title]="'home'" [routerLink]="['/']">
            <i class="fa fa-home" aria-hidden="true"></i>
        </a>
        <a [title]="'cartshopping'" [routerLink]="['/cartshopping']">
            <i class="fa fa-cart-arrow-down " aria-hidden="true"></i>
        </a>
        <a [title]="'messeage'" [routerLink]="['/messeage']">
            <i class="fa fa-commenting" aria-hidden="true"></i>
        </a>
        <a [title]="'notification'" [routerLink]="['/notification']">
            <i class="fa fa-bell" aria-hidden="true"></i>
        </a>
        <a [title]="'info'" [routerLink]="['/info'  ]">
            <i class="fa fa-info" aria-hidden="true"></i>
        </a>
    </div>
</div>