.product-list {
    margin-left: 10px;
    min-height: 800px;
    padding-bottom: 32px;
    background-color: rgb(236, 233, 233);
}
.container {
    background-color: #3d3dfe;
    padding: 10px;
}
.product {
    margin: 32px -8px 0;
    display: flex;
}
.product-item {
    float: left;
    width: 25%;
    margin: 10px;
    padding: 0 8px;
    color: red;
    background-color: #fff;
}
.product-item img {
    width: 100%;
}
.product-item img:hover {
    opacity: 0.6;
}
.product-body {
    background-color: #f4f4f4;
    font-size: 15px;
}
.product-heading {
    font-size: 20px;
    font-weight: 800;
}
.product-buy-btn {
    color: #fff;
    background-color: #3d3dfe;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 15px;
    width: 100px;
}
.product-buy-btn:hover {
    color: #000;
    background-color: #ccc;
}
