<carousel [objectFit]="'cover'" [cellWidth]="'100%'" [arrowsOutside]="true" [autoplay]="true" [dots]="true"
    [height]="500">
    <div class="carousel-cell">
        <img src="https://i1-sohoa.vnecdn.net/2021/08/02/iPhone-12-Pro-Max-1627882467.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=JvvZkSOc839aGDhKueX-Tw"
            alt="">
    </div>
    <div class="carousel-cell">
        <img src="https://hc.com.vn/i/ecommerce/media/ckeditor_3087078.jpg" alt="">
    </div>
    <div class="carousel-cell">
        <img src="https://hc.com.vn/i/ecommerce/media/ckeditor_3087082.jpg" alt="">
    </div>
</carousel>